<%- include('partials/header') %>


<h1 class="faq">ANONYMOUS</h1>
<img src="images/unknown.png" alt="SHUSHHH!!!">

<!-- <p>Mail To: </p> -->
<a href="mailto:anonymouslad.xoxo@gmail.com" class="anonymous">anonymouslad.xo@gmail.com</a>


<%- include('partials/footer') %>
