<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4 centered-top">Your Secret is safe with us!!</h1>
    <p class="lead">All the secrets you submit are anonymous. No one will ever know you posted anything (not even me XD).</p>
    <hr class="my-4">
    <p>You can view all the secrets by clicking View...</p>
    <a class="btn btn-secondary" href="/confessions" role="button">View</a>

    <p>Submit another secret...</p>
    <a class="btn btn-secondary" href="/submit" role="button">Submit</a>

  </div>

<%- include('partials/footer') %>
