*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e8ecef;
    color: black;
    overflow: hidden;
}

h1{
    text-align: center;
    margin-bottom: 15%;
}

a{
    color:beige !important;
}
.chd{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.footer-padding {
    padding-bottom: 0%;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: hsl(210,10.34%,22.75%);
    font-size: 1em;
}
.footer p {
    margin-top: 25px;
    font-size: x-large;
    font-family: "Roboto Mono", monospace;
    color: beige;
}