body {
    background-color: #e8ecef;
}

.faq
{
    margin-bottom: 0px !important;
}

.ans
{
    margin-top: 0px !important;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.centered-top {
    text-align: center;
}

.secret-text {
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
}

.footer-padding {
    padding-bottom: 0%;
}

.footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: hsl(210,10.34%,22.75%);

}
.footer p {
    margin-top: 25px;
    font-size: large;
    font-family: "Roboto Mono", monospace;
    color: beige;
 
}
.confessions {
    width: 60%;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    background-color: #000;
    margin-bottom: 2%;
    border-radius: 10px;
}

.align {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav a{
    color:beige !important;
}